body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.letter {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding-top: 250px;
}

@media screen and (max-width: 600px) {
    .letter {
        width: 95%; /* Aumentar a largura em telas menores */
        padding: 15px; /* Reduzir o padding */
        padding-top: 90dvh; /* Reduzir o padding-top em telas menores */
        font-size: 0.9em; /* Reduzir ligeiramente o tamanho da fonte */
    }
}

@media screen and (max-width: 300px) {
    .letter {
        width: 95%; /* Aumentar a largura em telas menores */
        padding: 15px; /* Reduzir o padding */
        padding-top: 155dvh; /* Reduzir o padding-top em telas menores */
        font-size: 0.9em; /* Reduzir ligeiramente o tamanho da fonte */
    }
}
h1 {
    color: #e44d26;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

.heart a{
    color: #e44d26;
    font-size: 72px;
    text-decoration: none;
}
