body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 45px;
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.letter {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #e44d26;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

.heart a{
    color: #e44d26;
    font-size: 72px;
    text-decoration: none;
}
