body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.letter {
    max-width: 800px; /* Aumentar a largura máxima para desktops */
    width: 80%; /* Ocupa 80% da largura da tela */
    padding: 40px; /* Aumentar o padding para desktop */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding-top: 100px; /* Ajustar o padding-top */
}

@media screen and (max-width: 1200px) {
    .letter {
        max-width: 700px; /* Reduzir a largura máxima para telas menores */
        width: 85%; /* Aumentar a largura relativa */
        padding: 30px; /* Ajustar o padding */
        padding-top: 120px; /* Ajustar o padding-top para telas médias */
    }
}

@media screen and (max-width: 600px) {
    .letter {
        width: 95%; /* Aumentar a largura em telas menores */
        padding: 20px; /* Ajustar o padding */
        padding-top: 70dvh; /* Ajustar o padding-top em telas menores */
        font-size: 1em; /* Manter o tamanho da fonte */
    }
}

@media screen and (max-width: 300px) {
    .letter {
        width: 95%; /* Aumentar a largura em telas menores */
        padding: 20px; /* Ajustar o padding */
        padding-top: 130dvh; /* Ajustar o padding-top em telas menores */
        font-size: 1em; /* Manter o tamanho da fonte */
    }
}

h1 {
    color: #e44d26;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

.heart a {
    color: #e44d26;
    font-size: 72px;
    text-decoration: none;
}
